* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4A148C;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.container div {
  width: 80px;
  height: 80px;
  background-size: cover;
}

.Brown {
  background-image: url('./assets/Brown.png');
}

.Yellow {
  background-image: url('./assets/Yellow.png');
}

.Red {
  background-image: url('./assets/Red.png');
}

.White {
  background-image: url('./assets/White.png');
}

.Green {
  background-image: url('./assets/Green.png');
}

.Purple {
  background-image: url('./assets/Purple.png');
}

.fill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin: 25px;
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 1024px) {
  .App {
    flex-direction: column;
    height: 100%;
  }
  .fill {
    flex-direction: row;
  }
}
